<% provide(:head_title, I18n.t('simple_form.buttons.edit', { entity: I18n.t('activerecord.models.audience_member.one_lower_case') })) %>
<% provide(:page_title, I18n.t('simple_form.buttons.edit', { entity: I18n.t('activerecord.models.audience_member.one_lower_case') })) %>

<div class="card-body">
  <div class="h6"><%= t('activerecord.attributes.attribute_commons.name') %></div>
  <p><%= @audience_member.name %></p>
  <div class="h6"><%= t('activerecord.attributes.attribute_commons.cpf') %></div>
  <p><%= @audience_member.cpf %></p>
  <div class="h6"><%= t('activerecord.attributes.attribute_commons.email') %></div>
  <p><%= @audience_member.email %></p>
</div>

<%= link_to admins_edit_audience_member_path(@audience_member.id), class: 'btn btn-secondary' do %>
  <%= t('simple_form.buttons.edit', { entity: I18n.t('activerecord.models.audience_member.one_lower_case') }) %>
<% end %>

<%= link_to admins_destroy_audience_member_path(@audience_member.id), class: 'btn btn-secondary', method: :delete, data: {confirm: I18n.t('simple_form.confirm')}, active: :exclusive do %>
  <%= t('simple_form.buttons.remove', { entity: I18n.t('activerecord.models.audience_member.one_lower_case') }) %>
<% end %>
